*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(backgroundcontact3.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(155, 87, 121);
    height: 60px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}
nav ul li{
    text-align: center;
    white-space: nowrap;

    
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    padding: 8px 15px;
    
}
.logo img{
    height: 55px;
    width: auto;   
}
.welcome-wrap{
    margin-top: 70px;
    min-height: calc(100vh - 70px);
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.welcome-wrap h1{
    font-size: 4rem;
    margin: 70px 0;
}
.welcome-wrap h2{
    margin-top: 70px;
}
.contact-info{
    margin-top: 70px;
    min-height: 80vh;
    padding: 40px;
    justify-content: center;
    align-items: center;
}
.contact-info h1{
    font-size: 4rem;
}
.contact-info span{
    background: black;
}
@media (max-width: 768px) {
    nav{
        position: fixed;
        flex-direction: column; /* Stacks logo and menu vertically */
        height: 170px;           /* Allows nav to grow with content */
        width: 100%;
        
    }
    nav ul{
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 10px;
    }
    nav ul li{
        width: 100%;
    }
    .welcome-wrap{
        margin-top: 170px;
        white-space: nowrap;
    }
    .welcome-wrap h1{
        font-size: 1.8rem;
    }
    .welcome-wrap h2{
        white-space: normal;
        font-size: 1.3rem;
    }
    .welcome-to{
        margin-top: 90px;
    }
    .contact-info{
        margin-top: 170px;
    }
}